@model System.Collections.Generic.List<WebStore.Domain.Models.BrandViewModel>

<h2>Бренды</h2>

<div class="brands_products">
    <!--brands_products-->
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var brandItem in Model)
            {
                if (brandItem.Quantity >= 0) // если есть товары бренда
                {
                    <li>
                        <a asp-controller="Catalog"
                           asp-action="Shop"
                           asp-route-BrandId="@brandItem.Id">
                            <span class="pull-right">
                                (@brandItem.Quantity)
                            </span>
                            @brandItem.Name
                        </a>
                    </li>
                }
            }
        </ul>
    </div>

</div><!--/brands_products-->
