@model WebStore.Domain.Models.BrandCompleteViewModel

<h2>Бренды</h2>

<div class="brands_products">
    <!--brands_products-->
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var brandItem in Model.Brands)
            {
                if (brandItem.Quantity >= 0) // если есть товары бренда
                {
                    <li @(brandItem.Id == Model.CurrentBrandId ? "class=active" : null)>
                        <a asp-controller="Catalog" 
                           asp-action="Shop" 
                           asp-route-BrandId="@brandItem.Id"> <span class="pull-right">(50)</span>@brandItem.Name</a>
                    </li>
                }
            }
        </ul>
    </div>

</div><!--/brands_products-->
