@*  still working?! WTF...?!
    @using WebStore.Models
    @model IEnumerable<Goods>
*@

@{
    ViewData["Title"] = "Товары";
}

<h1>Товары</h1>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>
                @Html.ActionLink("Подробнее...", "Details", new { id = item.Id })
            </td>
        </tr>
    }
</table>
